
@charset "UTF-8";

img.fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product_wrap {
    width: 1020px;
    margin: 0 auto 55px;
}
.product_wrap .unit {
    float: left;
    width: 485px;
}
.product_wrap .unit:nth-of-type(2n) {
    float: right;
}
.product_wrap .unit a {
    display: block;
}
.product_wrap .unit .i {
    width: 485px;
    height: 300px;
}
.product_wrap .unit .title {
    font-size: 20px;
    line-height: 1em;
    text-align: center;
    padding: 25px 0 45px;
}

.product {
    width: 1020px;
    margin: 50px auto 90px;
}
.product .cont {
    position: relative;
}
.product .cont h2#fix {
    display: inline-block;
    position: fixed;
    top: 90px;
    left: calc(((100% - 1020px) / 2 ) - 5px);
    font-size: 38px;
    line-height: 1em;
}
.product .cont h2 span {
    display: block;
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 10px;
}
.product .cont h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #4c4948;
}
.product .bottom {
    margin: 70px 0 0;
}
.product .bottom .text {
    float: left;
}
.product .bottom .text h3 {
    position: relative;
    display: inline-block;
    font-size: 38px;
    line-height: 1em;
    margin-bottom: 10px;
}
.product .bottom .text h3 span {
    display: block;
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 10px;
}
.product .bottom .text h3::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #4c4948;
}
.product .bottom .text .box {
    width: 380px;
    padding: 30px 0;
    border-bottom: 1px solid #c8c8c8;
}
.product .bottom .text .box p {
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 0;
}
.product .bottom .sub {
    float: right;
    margin-top: 10px;
}
.product .bottom .sub .img {
    width: 510px;
    height: 525px;
    overflow: hidden;
}
.product .bottom .sub .btn {
    text-align: center;
    margin-top: 50px;
}
.product .bottom .sub .btn a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    width: 290px;
    height: 50px;
    padding-top: 18px;
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) 15px;
    background-size: 22px 22px;
}
.product .bottom .sub .btn a::after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: calc(50% - 5px);
    width: 30px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30px 10px;
}
.product .bottom .sub .btn a:hover {
    color: #fff;
    background-color: #9ec0cf;
    opacity: 1;
   
}



.unit:hover {
    opacity: 0.45;
}

