
@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'PingFang' ;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 959px) {
  .AllBread {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.AllBread {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #f8f8f8; */
  width: 100%;
  max-width: 1200px;
  /* margin-top: 100px */
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .AllBread {
    max-width: initial;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  .AllBread{
    max-width: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 559px) {
  .AllBread {
    max-width: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.HsuanBread{
font-size: 1rem;  
font-family: 'PingFang';
color: black;
padding-left: 8.5rem;
}
.HsuanBread a {
  color: inherit;
  text-decoration: none;
}

.HsuanBread a:hover {
  text-decoration: underline;
}
/* 進階篩選 */

.PageTitle {
  position: relative;
  padding: 132px 0 46px;
  color: inherit;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  /* z-index: 0; */
}

.PageTitle:before {
  content: '';
  display: block;
  background: rgba(185, 41, 41, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(50% + 50px);
  height: calc(100% + 99px);
  pointer-events: none;
  /* z-index: -1; */
}



.Scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 90px;
  margin: 0 auto;
}

.Scroller span {
  height: 100%;
  width: 1px;
  background-color: #232D2F;
  margin: 0 6px;
}

.Scroller:before, .Scroller:after {
  content: '';
  display: block;
  background-color: #232D2F;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  transform-origin: 50% 50%;
  opacity: 0;
}

.Scroller:before {
  -webkit-animation: anime-scroller 6s 0s infinite ease-in-out;
          animation: anime-scroller 6s 0s infinite ease-in-out;
}

.Scroller:after {
  -webkit-animation: anime-scroller 6s 3s infinite ease-in-out;
          animation: anime-scroller 6s 3s infinite ease-in-out;
}

@media screen and (max-width: 959px) {
  .Scroller {
    width: 20px;
    height: 48px;
  }
  .Scroller span {
    margin: 0 3px;
    background-color: #ffffff;
  }
  .Scroller:before, .Scroller:after {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
  }
}

@-webkit-keyframes anime-scroller {
  0% {
    opacity: 0;
    transform: translateY(-36px) scale(0.6);
  }
  15% {
    opacity: 1;
    transform: translateY(-36px) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateY(36px) scale(1);
  }
  55% {
    opacity: 0;
    transform: translateY(36px) scale(0.6);
  }
  100% {
    opacity: 0;
    transform: translateY(36px) scale(0.6);
  }
}

@keyframes anime-scroller {
  0% {
    opacity: 0;
    transform: translateY(-36px) scale(0.6);
  }
  15% {
    opacity: 1;
    transform: translateY(-36px) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateY(36px) scale(1);
  }
  55% {
    opacity: 0;
    transform: translateY(36px) scale(0.6);
  }
  100% {
    opacity: 0;
    transform: translateY(36px) scale(0.6);
  }
}

@media screen and (max-width: 959px) {
  @-webkit-keyframes anime-scroller {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.6);
    }
    15% {
      opacity: 1;
      transform: translateY(-20px) scale(1);
    }
    40% {
      opacity: 1;
      transform: translateY(20px) scale(1);
    }
    55% {
      opacity: 0;
      transform: translateY(20px) scale(0.6);
    }
    100% {
      opacity: 0;
      transform: translateY(20px) scale(0.6);
    }
  }
  @keyframes anime-scroller {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.6);
    }
    15% {
      opacity: 1;
      transform: translateY(-20px) scale(1);
    }
    40% {
      opacity: 1;
      transform: translateY(20px) scale(1);
    }
    55% {
      opacity: 0;
      transform: translateY(20px) scale(0.6);
    }
    100% {
      opacity: 0;
      transform: translateY(20px) scale(0.6);
    }
  }
}

/*
 * <h2 class="TitleA">Other Brands</h2>
 */
.TitleA {
  color: inherit;
  font-family: 'PingFang' , sans-serif;
  font-size: 40px;
  line-height: 1;
}

@media screen and (max-width: 559px) {
  .TitleA {
    font-size: 26px;
  }
}


@media screen and (max-width: 959px) {
  .HsuanBread {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.PgaeWraper {
  position: relative;
  background-color:#f8f8f8;
  /* color: #b11515; */
}


.PgaeWraper:before {
  content: '';
  display: block;
  position: absolute;
  width: 37.5%;
  height: 100%;
  top: 0;
  right: 0;
  background-color:#f8f8f8;
}

.PgaeWrapper__inner {
  position: relative;
}

/* .SectionTile {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.SectionTile .TitleA {
  margin-bottom: 40px;
}

.SectionTile .TitleA:last-child {
  margin-bottom: 0;
} */

@media screen and (max-width: 559px) {
  .SectionTile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .Breadcrumb + .SectionTile {
    padding-top: 40px;
  }
}

.SectionTile__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .SectionTile__container {
    max-width: initial;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  .SectionTile__container {
    max-width: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 559px) {
  .SectionTile__container {
    max-width: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.SectionTile__block {
  margin-bottom: 80px;
}

.SectionTile__block:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 559px) {
  .SectionTile__block {
    margin-bottom: 40px;
  }
  .SectionTile__block:last-child {
    margin-bottom: 0;
  }
}
.brand-SectionCover__body {
  flex: 1;
  padding-top: 90px;
  padding-bottom: 30px;
  color: inherit;
}

/* 禮盒標語 */
.brand-BrandCardItems {
  color: #f8f8f8;
}

.brand-BrandCardItems a {
  color: #232D2F;
}
/* 禮盒hover */
 .brand-BrandCardItems .brand-BrandCardItems__card:before {
    box-shadow: 7px 7px 1px rgba(201, 177, 181, 0.055), -2px -2px 7px #A232D2F;;
} 

.brand-BrandCardItems .brand-BrandCardItems__card:after {
    box-shadow: inset 4px 4px 8px rgba(71, 62, 64, 0.973), inset -4px -5px 8px #595452;
}

.brand-BrandCardItems .brand-BrandCardItems__inner {
  background-color: #f8f8f8;
} 

.brand-BrandCardItems__items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

@media screen and (max-width: 559px) {
  .brand-BrandCardItems__items {
    margin-bottom: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .brand-BrandCardItems__item {
    width: calc(33.33333% - 40.66667px);
    flex-shrink: 0;
    margin-right: 61px;
    margin-bottom: 40px;
  }
  .brand-BrandCardItems__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .brand-BrandCardItems__item {
    width: calc(33.33333% - 26.66667px);
    flex-shrink: 0;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .brand-BrandCardItems__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  .brand-BrandCardItems__item {
    width: calc(50% - 10px);
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .brand-BrandCardItems__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 559px) {
  .brand-BrandCardItems__item {
    width: calc(100% - 0px);
    flex-shrink: 0;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .brand-BrandCardItems__item:nth-child(1n) {
    margin-right: 0;
  }
}

.brand-BrandCardItems__card {
  display: block;
  position: relative;
  color: inherit;
}

.brand-BrandCardItems__card:before {
  /* z-index: 2; */
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s opacity;
  opacity: 1;
}

.brand-BrandCardItems__card:after {
  /* z-index: 2; */
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  opacity: 0;
}

@media screen and (min-width: 960px) {
  .brand-BrandCardItems__card:hover {
    cursor: pointer;
  }
  .brand-BrandCardItems__card:hover:before {
    opacity: 0;
  }
  .brand-BrandCardItems__card:hover:after {
    opacity: 1;
  }
}

@media screen and (max-width: 959px) {
  .brand-BrandCardItems__card:active:before {
    opacity: 0;
  }
  .brand-BrandCardItems__card:active:after {
    opacity: 1;
  }
}

.brand-BrandCardItems__inner {
  position: relative;
}

.brand-BrandCardItems__inner:before {
  content: '';
  display: block;
  padding-top: 41.66667%;
}

.brand-BrandCardItems__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 63.88889%;
  height: 100%;
}

.brand-BrandCardItems__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
    font-family: 'PingFang' ;
}
/* 禮盒標題字型 */
.brand-BrandCardItems__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  font-family: 'PingFang' ;
  font-size: 30px;
  line-height: 1;
}

.brand-BrandCardItems__title ._s {
  font-size: 20px;
}

@media screen and (max-width: 559px) {
  .brand-BrandCardItems__title {
    padding-left: 25px;
    font-size: 30px;
  }
  .brand-BrandCardItems__title ._s {
    font-size: 20px;
  }
}
/* 禮盒標語字形 */
.brand-BrandCardItems__body {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: inherit;
  font-family: 'PingFang';
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media screen and (max-width: 559px) {
  .brand-BrandCardItems__body {
    font-size: 12px;
  }
}

.brand-ProductItems {
  color: #232D2F;
}
/* 禮盒顏色 */
.brand-ProductItems a {
  color: #2d3b72;
 }
/* 商品hover */
.brand-ProductItems .brand-ProductItems__image:before {
  box-shadow: 7px 7px 1px #b3a895, -2px -2px 7px #b3a895;
}

.brand-ProductItems .brand-ProductItems__image:after {
  box-shadow: inset 4px 4px 8px #f8f8f8, inset -4px -5px 8px #f8f8f8;
}
/* 種類位置 */
.brand-ProductItems__items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-top: 100px;
}

@media screen and (min-width: 1280px) {
  .brand-ProductItems__item {
    width: calc(25% - 49.5px);
    flex-shrink: 0;
    /* margin-right: 66px; */
    margin-bottom: 30px;
  }
  .brand-ProductItems__item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .brand-ProductItems__item {
    width: calc(25% - 30px);
    flex-shrink: 0;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  .brand-ProductItems__item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  .brand-ProductItems__item {
    width: calc(33.33333% - 13.33333px);
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .brand-ProductItems__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 559px) {
  .brand-ProductItems__item {
    width: calc(50% - 10px);
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .brand-ProductItems__item:nth-child(2n) {
    margin-right: 0;
  }
}

.brand-ProductItems__image {
  display: block;
  position: relative;
  color: inherit;
}

.brand-ProductItems__image:before {
  /* z-index: 2; */
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s opacity;
  opacity: 1;
}

.brand-ProductItems__image:after {
  /* z-index: 2; */
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  opacity: 0;
}

.brand-ProductItems__image ._image {
  position: relative;
  width: 100%;
}
/* 種類位置 */
.brand-ProductItems__image ._image:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.brand-ProductItems__image ._image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'PingFang' ;
}

@media screen and (min-width: 960px) {
  .brand-ProductItems__image:hover {
    cursor: pointer;
  }
  .brand-ProductItems__image:hover:before {
    opacity: 0;
  }
  .brand-ProductItems__image:hover:after {
    opacity: 1;
  }
}

@media screen and (max-width: 959px) {
  .brand-ProductItems__image:active:before {
    opacity: 0;
  }
  .brand-ProductItems__image:active:after {
    opacity: 1;
  }
}
/* 種類說明位置 */
.brand-ProductItems__body {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.brand-ProductItems__body ._no {
  font-family: 'PingFang' ;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.brand-ProductItems__body ._no span + span:before {
  content: '／';
  opacity: 0.5;
  margin: 0 0.4em;
  pointer-events: none;
}

.brand-ProductItems__body ._no ._code {
  font-size: 14px;
}
/* 種類字體 */
.brand-ProductItems__body ._name {
  font-family: 'PingFang';
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}
/* 說明字體 */
.brand-ProductItems__body ._price {
  font-family: 'PingFang';
  font-size: 14px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 559px) {
  .brand-ProductItems__body ._no {
    font-size: 12px;
  }
  .brand-ProductItems__body ._name {
    font-size: 13.4px;
    margin-left: -3px;
    margin-right: -3px;
    letter-spacing: 0;
  }
  .brand-ProductItems__body ._price {
    font-size: 14px;
  }
}
/* brand shakesbeard */
.brand-SectionCover {
  padding-top: 40px;
  padding-bottom: 20px;
  color:  #595452;
}
._text2  {
    color:#232D2F;
    padding-bottom: 60px;
  }
/* shakesbeard card */
.brand-SectionCover .brand-SectionCover__title ._card:before {
  background-color: #232D2F;
}

.brand-SectionCover .brand-SectionCover__title ._title1:after {
  background-color: #595452;
}

.brand-SectionCover__main {
  padding-left: 50px;
}

.brand-SectionCover__main img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 959px) {
  .brand-SectionCover__main {
    padding-left: 0;
  }
}

.brand-SectionCover__layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .brand-SectionCover__layout {
    display: block;
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  .brand-SectionCover__layout {
    display: block;
  }
}

@media screen and (max-width: 559px) {
  .brand-SectionCover__layout {
    display: block;
  }
}

.brand-SectionCover__title {
  width: 50%;
  flex-shrink: 0;
  position: relative;
}

.brand-SectionCover__title ._card {
  position: absolute;
  left: 0;
  top: -150px;
  height: 300px;
  max-width: calc(100% - 40px);
}

.brand-SectionCover__title ._card:before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 43px);
  height: 100%;
  left: -13px;
  top: 13px;
}
/* shakesbeard card */
.brand-SectionCover__title ._wrap {
  position: relative;
  height: 100%;
  padding-left: 58px;
  padding-right: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.brand-SectionCover__title ._title1 {
  position: relative;
  font-family: 'PingFang';
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.075em;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.brand-SectionCover__title ._title1:after {
  position: absolute;
  content: '';
  display: block;
  width: 55px;
  height: 1px;
  left: 0;
  bottom: 0;
}

.brand-SectionCover__title ._title2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: 'PingFang';
  font-size: 65px;
  line-height: 1;
}

.brand-SectionCover__title ._title2 ._b {
  margin-right: 20px;
}

.brand-SectionCover__title ._title2 ._s {
  font-size: 25px;
  padding-bottom: 6px;
}






