.budget_boxImg {
  height: 220px;
  margin-top: 30px;
}
@media (max-width: 415px) {
  .budget_boxImg {
    height: 160px;
    margin-top: -1px;
  }
}

.ramgeNumber {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 415px) {
  .ramgeNumber {
    font-size: 12px;
  }
}

.silderbox {
  margin-top: 15px;
}
@media (max-width: 415px) {
  .silderbox {
    margin-top: -3px;
  }
}

.budget_Grid {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: auto;
  margin: auto;
}
@media (max-width: 415px) {
  .budget_Grid {
    height: 45px;
    margin: auto;
  }
}