.budget_boxImg {
  height: 220px;
  margin-top: 30px;
}

.ramgeNumber {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.silderbox {
  margin-top: 15px;
}

.budget_Grid {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: auto;
  margin: auto;
}
