.budget_lineTop {
  width: 450px;
  border-top: solid #2d3b72 1px;
  margin: 15px auto 0px;
}
.budget_lineDown {
  width: 100%;
  border-top: solid #2d3b72 3px;
  margin: 2px auto 0px;
}

.budget_boxImg {
  height: 165px;
  margin-top: 50px;
}
