.color_boxImg {
  height: 200px;
  margin-top: 6px;
}
@media (max-width: 415px) {
  .color_boxImg {
    height: 130px;
    margin-top: 5px;
  }
}


.color_button {
  margin: 13px 0 0 0;
}
@media (max-width: 415px) {
  .color_button {
    margin: 5px 0 0 0;
  }
}


.change {
  width: 34px;
  height: 34px;
  color: white;
  display: inline-block;
  margin: 0 14px;
  border-radius: 50%;
  box-shadow: 1px 4px 5px #a0a0a0;
}
@media (max-width: 415px) {
  .change {
    width: 30px;
    height: 30px;
    margin: 0 14px;
  }
}


.color_button1 {
  background-color: #a76f56;
  border: #d3b7ab solid 4px;
}

.color_button2 {
  background-color: #486876;
  border: #a4b4bb solid 4px;
}

.color_button3 {
  background-color: #595452;
  border: #948985 solid 4px;
}

.color_button4 {
  background-color: #728472;
  border: #b9c2b9 solid 4px;
}

.color_button5 {
  background-color: #2d3b72;
  border: #8590bc solid 4px;
}

.message_title {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 13px 0 8px 0;
}
@media (max-width: 415px) {
  .message_title {
    font-size: 13px;
    margin: 10px 0 8px 0;
  }
}


.message {
  height: 60px;
  width: 350px;
  border-radius: 4px;
  margin: 0 auto;
  resize: none;
}
@media (max-width: 415px) {
  .message {
    height: 35px;
    width: 260px;
    border-radius: 4px;
    margin: 0 0 -11px 0;
  }
}
