.contain {
  min-height: 78vh;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.background_white {
  background-color: rgba(89, 84, 82, 0.66);
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueBox {
  background-color: #2d3b72;
  width: 633.73px;
  height: 605.71px;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  background-color: white;
  width: 621.87px;
  height: 593px;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
}

.startButton {
  background-color: #2d3b72;
  border-radius: 4px;
  width: 220px;
  height: 70px;
  border: none;
  font-size: 26px;
  color: white;
  font-family: PingFang;
  justify-content: center;
  align-items: center;
}

.backButton {
  background-color: white;
  border-radius: 4px;
  width: 220px;
  height: 70px;
  border: 3px solid #2d3b72;
  font-size: 26px;
  color: #2d3b72;
  font-family: PingFang;
  justify-content: center;
  align-items: center;
}

.step {
  color: #2d3b72;
  font-family: Roboto;
  font-size: 17px;
  margin: 34px auto 0px;
  text-align: center;
  align-items: center;
}

.Title2 {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.lineTop {
  width: 455px;
  border-top: solid #2d3b72 1px;
  margin: 8px auto 0px;
}

.lineDown {
  width: 455px;
  border-top: solid #2d3b72 3px;
  margin: 2px auto;
}

/* 上下步按鈕間隔 */
.separate {
  margin-right: 62px;
}

/* 商品選擇區 */
.Grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.giftbox_Item {
  width: 30%;
  height: auto;
  text-align: center;
}
.giftbox_ItemImg {
  width: 130px;
}

.giftbox_itemName {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 17px;
  text-align: center;
}

.giftbox_itemPrice {
  color: #2d3b72;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
}
