.contain {
  min-height: 78vh;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.background_white {
  background-color: rgba(89, 84, 82, 0.66);
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueBox {
  background-color: #2d3b72;
  width: 633.73px;
  height: 605.71px;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  background-color: white;
  width: 621.87px;
  height: 593px;
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
}

.startButton {
  background-color: #2d3b72;
  border-radius: 4px;
  width: 220px;
  height: 70px;
  border: none;
  font-size: 26px;
  color: white;
  font-family: PingFang;
  justify-content: center;
  align-items: center;
}

.backButton {
  background-color: white;
  border-radius: 4px;
  width: 220px;
  height: 70px;
  border: 3px solid #2d3b72;
  font-size: 26px;
  color: #2d3b72;
  font-family: PingFang;
  justify-content: center;
  align-items: center;
}

.step {
  color: #2d3b72;
  font-family: Roboto;
  font-size: 17px;
  margin: 39px auto 0px;
  text-align: center;
  align-items: center;
}

.Title2 {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
}
