.contain {
  min-height: 78vh;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.background_white {
  background-color: rgba(89, 84, 82, 0.66);
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueBox {
  background-color: #2d3b72;
  width: 633.73px;
  height: 605.71px;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  background-color: white;
  width: 621.87px;
  height: 593px;
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
}

.step {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 17px;
  margin: 39px auto 0px;
  text-align: center;
  align-items: center;
}

.Title2 {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.lineTop {
  width: 450px;
  border-top: solid #2d3b72 1px;
  margin: 15px auto 0px;
}

.lineDown {
  width: 100%;
  border-top: solid #2d3b72 3px;
  margin: 2px auto 0px;
}

.openbox_Img
{
  height: 375px;

}