.openbox_Img {
  height: 372px;
}
@media (max-width: 415px) {
  .openbox_Img {
    height: 265px;
  }
}

.Finish_text {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
