.background {
  background-image: url("../image/background.jpg");
  width: 1200px;
  height: 713.17px;
  z-index: 1;
  position: absolute;
}

.background_white {
  background-color: white;
  opacity: 0.3;
  width: 1200px;
  height: 713.17px;
  z-index: 2;
  position: absolute;
}

.blueBox {
  background-color: #2d3b72;
  width: 633px;
  height: 605px;
  z-index: 3;
  position: absolute;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  background-color: white;
  width: 621px;
  height: 592px;
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
}

.line-top {
  width: 78%;
  height: 1px;
  border-top: solid #2d3b72 3px;
  margin: 96px auto;
}

.line-under {
  width: 100%;
  height: 1px;
  border-top: solid #2d3b72 1px;
  margin: 2px auto;
}

.title {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 32px;
  margin: 32px 0;
  text-align: center;
}

.line-top2 {
  width: 100%;
  height: 1px;
  border-top: solid #2d3b72 3px;
  margin: 2px auto;
}
