@media (max-width: 400px) {
}

.line-top {
  width: 78%;
  height: 1px;
  border-top: solid #2d3b72 3px;
  margin: 95px auto 0px;
}

.line-under {
  width: 100%;
  border-top: solid #2d3b72 1px;
  margin: 2px auto 0px;
}

.title {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 32px;
  margin: 15px auto;
  text-align: center;
}

.line-top2 {
  width: 100%;
  border-top: solid #2d3b72 3px;
  margin: 2px auto 0px;
}

.subtitle {
  color: #2d3b72;
  font-family: Roboto;
  font-size: 19px;
  margin: 60px auto 55px;
  text-align: center;
  letter-spacing: 2px;
}

.line-middle {
  width: 70%;
  border-top: solid #2d3b72 1px;
  margin: 0 auto;
}

.thirdTitle {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 19px;
  margin: 51px auto 50px;
  text-align: center;
}

.Img_Left {
  position: absolute;
  z-index: 4;
  height: 372px;
  transform: translate(-130px, -25px) rotate(-8deg);
}

.Img_Right {
  position: absolute;
  z-index: 4;
  height: 445.8px;
  transform: translate(395px, -100px);
}
