.contain {
  min-height: 73.6vh;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.background_white {
  background-color: rgba(89, 84, 82, 0.66);
  min-height: 73.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueBox {
  background-color: #2d3b72;
  width: 633.73px;
  height: 605.71px;
  z-index: 3;
  position: absolute;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  background-color: white;
  width: 621.87px;
  height: 593px;
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
}

.line-top {
  width: 78%;
  height: 1px;
  border-top: solid #2d3b72 3px;
  margin: 95px auto 0px;
}

.line-under {
  width: 100%;
  border-top: solid #2d3b72 1px;
  margin: 2px auto 0px;
}

.title {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 32px;
  margin: 12px auto;
  text-align: center;
}

.line-top2 {
  width: 100%;
  border-top: solid #2d3b72 3px;
  margin: 2px auto 0px;
}

.subtitle {
  color: #2d3b72;
  font-family: Roboto;
  font-size: 17px;
  margin: 62px auto 55px;
  text-align: center;
  letter-spacing: 2px;
}

.line-middle {
  width: 61%;
  border-top: solid #2d3b72 1px;
  margin: 0 auto;
}

.thirdTitle {
  color: #2d3b72;
  font-family: PingFang;
  font-size: 17px;
  margin: 51px auto 50px;
  text-align: center;
}

.startButton {
  background-color: #2d3b72;
  border-radius: 4px;
  width: 220px;
  height: 70px;
  border: none;
  font-size: 26px;
  color: white;
  font-family: PingFang;
}

.btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
