.noPageFound {
  margin-top: 100px;
//   display: inline-flex;
//   justify-content: center;
}

.linkPage, .goBack{
    background-color: #2d3b72;
    border: none;
}

.noPageFound>div>.four{
  font-weight: bold;
}

.buttons>Button{
  margin: 5px;
}