.modal-content{
    width: 60%;
    position: relative;
    left: 20%;
}

.modal-header, .modal-footer{
    border: none;
}

// 底線
.decLine {
    height: 8px;
    border-top: 3px solid #a69981;
    border-bottom: 1px solid #a69981;
    margin: 30px 0 15px 0;
    // background-color: #faf;
    width: 100%;
  }

.reserveBtn{
    background-color: #3f61be;
    border: none;
}

.cancelBtn{
    background-color:#44494a;
    border: none;
}

.cancelBtn:hover{
    background-color:#6c757d;
    border: none;
}

// select#formGridState.form-control{
//     width: 250%;
// }

// input.form-control{
// // .rdt.form-control>{
//     width: 320px;
// }