  // @-ms-viewport {
  //   width: device-width;
  // }

  // 商家列表 RWD
  @media screen and (max-width: 750px) { 
    .searchForm{
      display: flex;
      flex-direction: column;
    }

    .sorting nav{
      display: none;
    }
    
    .sorts{
      margin: 10px;
      justify-content: center;
    }

    .banner{
      display: none;
    }

    .cardGroup{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .page{
      display: none;
    }

    // 商家詳細 RWD
    .media{
      flex-direction: column;
    }
    
    .media img{
      margin-bottom: 16px;
    }

    .media-body{
      margin-bottom: 30px;
    }

    .goReserve{
      vertical-align: middle;
      width: 40%;
    }

    .recommend {
      min-width: 130px;
    }

    // .recommend h6{
    //   font-size: 13.5px;
    // }

    // .recommend a{
    //   font-size: 10px;
    // }

    .scrollRight{
      overflow: auto;
      white-space: nowrap;  
    }

    .scrollRight a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;  
      text-decoration: none;
    }
  }

  // 商家列表: 分類
  .sorting{
    display: flex;
    flex-direction: row;
  }

  .breadcrumb-item,
  .cates-item{
    font-size: 1rem;
  }
  
  .breadcrumb-item a,
  .sorts>.dropdown>.dropdown-menu>.dropdown-item,
  // .openDay>.dropdown>.dropdown-menu>.dropdown-item,
  .openDay>.opendaySelect{
    color: #44494a;
    text-decoration: none;
  }

  .breadcrumb-item a:hover,
  .sorts>.dropdown>.dropdown-menu>.dropdown-item:hover,
  // .openday>.dropdown>.dropdown-menu>.dropdown-item:hover,
  .openDay>.opendaySelect:hover{
    color: #fff;
    background-color: #3f61be;
  }
  
  .sorts{
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  .sorts>.dropdown>button{
    margin-top: 0;
  }

  .sort,
  .opendaySelect {
    border: 1px solid #a69981;
    background-color: #fffffd;
  }

  // 商家列表: 商家卡片
  .shopcard {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3px;
    // box-shadow: 5px 5px 0 rgba(0,0,0,0.2);
  }

  .shopcard>.card-img-top{
    border-radius: 0;
  }

  .cardGroup {
    flex-wrap: wrap;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .card-title{
    font-size: 1.25rem;
  }

  .card-text{
    font-size: 1rem;
  }

  .linktodetail:hover .linktodetail{
    text-decoration: underline;
  }

  // 商家列表: 分頁
  .page-link {
    background-color: #44494a;
    color: #ffffff;
    font-family: Adobe clean;
    margin: 1px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
  }

  .page-item.active .page-link {
    background-color: #a69981;
  }

  .page-item {
    margin: 2px;
  }

  .pagination {
    margin: 12px;
  }  

  .page-item>a:link, .page-item>a:visited {
    color: #ffffff;
  }

  .page-link:hover {
    background-color: #007bff;
  }
  
  // 商家詳細: 預約按鈕
  .goReserve {
    background-color: #2d3b72;
    border: none;
    width: 6rem;
    // display: inline;
    text-decoration: none;
  }

  .goReserve:hover {
    background-color: #007bff;
    color: white;
  }

  .goReserve:link, 
  .goReserve:visited{
    color: white;
  }

  // 商品詳細: 推薦
  .recommend {
    width: 15rem;
    margin: 5px;
  }

  .recommend>.card-body p{
    margin-bottom: 4px;
  }

  .recommend>.card-body>a{ 
    font-size: 0.6rem;
    text-decoration: none;
  }

   // 共用: 側欄選項
   .sideNav a {
    color: #232d2f;
    font-size: 1rem;
    text-decoration: none;
  }

  .sideNav a.active,
  .sideNav>.selected {
    color: #3f61be;
  }

  .sideNav a:hover,
  .sideNav a.active:hover {
    // color: #3f61be;
    background-color: #3f61be;
    color: #ffff;
  }

  .searchForm input{
    border: 1px solid #a69981;
  }

  // 共用: 麵包削
  .breadcrumb {
    background-color: transparent;
  }

  // 共用: 標籤
  .badge{
    font-weight: normal;
    font-size: 0.6rem;
  }
  // // 共用: 客服
  // .helpdesk a {
  //   font-size: 10px;
  //   color: #fff;
  // }

  // .helpdesk{
  //   position: fixed;
  //   right: 24px;
  //   bottom: 120px;
  //   background-color: #3f61be;
  //   padding: 20px;
  //   border-radius: 50%;
  // }

  .info {
    margin-left: 10px;
    font-size: 1rem;
  }

  .info-title{
    font-size: 1.25rem;
    font-weight: bolder;
  }

  .media-body{
    font-size: 1rem;
  }

  .media-body h5{
    // font-weight: bolder;
    font-size: 1.1rem;
  }

  .test1 {
    background-color: #6c757d;
    width: 400px;
    height: 300px;
  }

  .test2 {
    background-color: #6c757d;
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }

  .testImg {
    width: 200px;
  }
