  // @-ms-viewport {
  //   width: device-width;
  // }

  // 商家列表 RWD
  @media screen and (max-width: 750px) { 
    .searchForm{
      display: flex;
      flex-direction: column;
    }

    .sorting nav{
      display: none;
    }
    
    .sorts{
      margin: 10px;
      justify-content: center;
    }

    .banner{
      display: none;
    }

    .cardGroup{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .page{
      display: none;
    }

    // 商家詳細 RWD
    .media{
      flex-direction: column;
    }
    
    .media img{
      margin-bottom: 16px;
    }

    .media-body{
      margin-bottom: 30px;
    }

    .goReserve{
      vertical-align: middle;
      width: 40%;
    }

    .recommend {
      min-width: 130px;
    }

    // .recommend h6{
    //   font-size: 13.5px;
    // }

    // .recommend a{
    //   font-size: 10px;
    // }

    .scrollRight{
      overflow: auto;
      white-space: nowrap;  
    }

    .scrollRight a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;  
      text-decoration: none;
    }
  }

  // 商家列表: 分類
  .sorting{
    display: flex;
    flex-direction: row;
  }

  .breadcrumb-item a,
  .cates-item a {
    color: #44494a;
  }
  
  .sorts{
      display: flex;
      align-items: center;
      justify-content: end;
  }

  .sorts>.dropdown>button{
    margin-top: 0;
  }

  .sort {
    border: 1px solid #a69981;
    background-color: #fffffd;
  }

  // 商家列表: 商家卡片
  .shopcard {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3px;
    // box-shadow: 5px 5px 0 rgba(0,0,0,0.2);
  }

  .shopcard>.card-img-top{
    border-radius: 0;
  }

  .cardGroup {
    flex-wrap: wrap;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .linktodetail:hover .linktodetail{
    text-decoration: underline;
  }

  // 商家列表: 分頁
  .page-link {
    background-color: #44494a;
    color: #ffffff;
    font-family: Adobe clean;
    margin: 1px;
    border: none;
  }

  .page-item.active .page-link {
    background-color: #a69981;
  }

  .page-item {
    margin: 2px;
  }

  .pagination {
    margin: 12px;
  }  

  .page-item>a:link, .page-item>a:visited {
    color: #ffffff;
  }

  
  // 商家詳細: 預約按鈕
  .goReserve {
    background-color: #2d3b72;
    color: white;
    border: none;
    display: inline;
    width: 10rem;
  }

  .goReserve:hover {
    background-color: #007bff;
    color: white;
  }

  // 商品詳細: 推薦
  .recommend {
    width: 15rem;
    margin: 5px;
  }

   // 共用: 側欄選項
   .sideNav a {
    color: #232d2f;
  }

  .sideNav a:hover {
    color: #007bff;
  }

  .sideNav a.active {
    color: #007bff;
  }

  .searchForm input{
    border: 1px solid #a69981;
  }

  // 共用: 麵包削
  .breadcrumb {
    background-color: transparent;
  }

  // 共用: 標籤
  .badge{
    font-weight: normal;
  }
  // 共用: 向上、客服
  .scrollTop {
    position: fixed;
    right: 1%;
    bottom: 85px;
    background-color: #BE3F48;
    padding: 20px;
    border-radius: 50%;
    // opacity: .5
    /* transition: all 0.4s ease-in-out 0s; */
  }

  .scrollTop a,.helpdesk a {
    font-size: 10px;
    color: #fff;
  }

  .helpdesk{
    position: fixed;
    right: 1%;
    bottom: 10px;
    background-color: #3f61be;
    padding: 20px;
    border-radius: 50%;
  }

  .info {
    margin-left: 10px;
  }

  .test1 {
    background-color: #6c757d;
    width: 400px;
    height: 300px;
  }

  .test2 {
    background-color: #6c757d;
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }

  .testImg {
    width: 200px;
  }
