.form-group{
  margin-top: 2rem;
  width: 10vw;
  /* padding-left: 10%; */
  
}
.sort{
  /* padding-left: 140px; */
  font-size:small;
  margin-top: 2rem;
  border-bottom: 2px solid #a69981;
  
}
.menu{
  width: 20vw;
}

#product-menu{
  /* padding-left: 20%; */
  margin-bottom: auto;
  
}
.ui-state-disabled1{
  margin-top: 1rem;
  border-top: 1px solid #a69981;
}
.searchicon{
  width: 1.5rem;
  position:absolute;
  top:5.5rem; 
/* 　left:10px; */
  margin-left: 11% ;
 }
 li{
   margin: 10px 10px 10px 10px ;
   font-family: Adobe clean;
   font-size: 16px;
 }
 .original{
  width:100%;
  height: 100%;
     
 }