.story-area{
    margin: 15px auto;
}
.story-title{
   text-align: center;
}

.story-text-area{
    margin:0 auto;
 }

 .story-text{
     min-width: 82%;
     font-size:1.4rem ;
    //  word-break:normal;
     margin-bottom: 0;
    
 }
