.body {
  font-family: PingFang;
}
#caroselText{
  z-index: 0;
}
//Hero Page

.heropage {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-text-area {
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text {
  text-overflow: clip;
  width: 100%;
  height: 10%;
  font-family: PingFang;
  font-size: 2rem;
  text-align: center;
  color: white;
  letter-spacing: 0.5rem;
  line-height: 6.5rem;
  display: block;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 30px;
}
.hero-text:hover {
  color: #b9e3ff;
  text-decoration: none;
  border-color: #b9e3ff;
  border-radius: 4px;
}

//HeroPage 手機板
@media (max-width: 700px) {
  .heropage {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .hero-text-area {
    height: 18%;
    width: 45%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-text {
    text-overflow: clip;
    width: 100%;
    height: 45%;
    font-family: PingFang;
    font-size: 12px;
    text-align: center;
    color: white;
    letter-spacing: 0.3rem;
    line-height: 1.5rem;
    display: block;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px 15px 8px 15px;
  }
}
//輪播

//故事
body > .bounceInLeft {
  pointer-events: none;
}
.story-area {
  margin: 18px auto;
}
.story-title {
  text-align: center;
  padding-bottom: 15px;
}

.story-text-area {
  margin: 0 auto;
  width: 55%;
}

.story-text {
  min-width: 83%;
  font-size: 1.4rem;
  white-space: pre-wrap;
  margin-bottom: 0;
  line-height: 40px;
  text-align: center;
}

//故事 手機板
@media (max-width: 700px) {
  .story-area {
    margin: 15px auto;
  }
  .story-title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 5px;
  }

  .story-text-area {
    margin: 0 auto;
    width: 80%;
  }

  .story-text {
    font-size: 1rem;
    white-space: pre-wrap;
    margin-bottom: 0;
    line-height: 28px;
    text-align: justify;
  }
  #story-text2 {
    display: none;
  }
}

//禮物

.gift-area {
  width: 75%;
  position: relative;
  margin: 0 auto;
}

.gift-img {
  width: 100%;
  height: 100%;
}
.gift-img1 {
  width: 100%;
  height: 100%;
  display: none;
}




.gift-text-area {
  position: absolute;
  right: 15%;
  bottom: 45%;
  background-color: hsla(228, 43%, 31%, 0.7);
  border-radius: 4px;
  width: 25%;
  height: 25%;
  color: #f8f8f8;
  text-align: center;
  line-height: 30px;
}
.gift-text-area1 {
  position: absolute;
  right: 8%;
  bottom: 40%;
  background-color: hsla(228, 43%, 31%, 0.7);
  border-radius: 4px;
  width: 50%;
  height: 50%;
  color: #f8f8f8;
  text-align: center;
  line-height: 10px;
  display: none;
}

.gift-text {
  word-break: keep-all;
  font-size: 1.1rem;
  text-overflow: clip;
  line-height: 30px;
}

/* Pulse Grow */
@-webkit-keyframes giftBtn {
  to {
    transform: scale(1.1);
  }
}
@keyframes giftBtn {
  to {
    transform: scale(1.1);
  }
}
.giftBtn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.giftBtn:hover {
  background: hsla(228, 43%, 31%, 1);
  animation-name: giftBtn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.giftBtn {
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  border: 0px;
  background: hsla(228, 43%, 31%, 0.7);
  font: 20px PingFang;
  color: #ffffff;
  position: absolute;
  right: 21%;
  bottom: 33%;
}
.giftBtn1{
  display: none;
}

//禮物 手機板
@media (max-width: 700px) {
  .gift-area {
    position: relative;
  }
  .gift-img1 {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .gift-img {
    width: 414px;
    height: 300px;
    display: none;
  }
  .gift-title {
    font-size: 1rem;
  }
  .gift-text-area {
    position: absolute;
    right: 8%;
    bottom: 40%;
    background-color: hsla(228, 43%, 31%, 0.7);
    border-radius: 4px;
    width: 50%;
    height: 50%;
    color: #f8f8f8;
    text-align: center;
    line-height: 10px;
    display: none;
  }
  .gift-text-area1 {
    position: absolute;
    right: 8%;
    bottom: 40%;
    background-color: hsla(228, 43%, 31%, 0.7);
    border-radius: 4px;
    width: 50%;
    height: 55%;
    color: #f8f8f8;
    text-align: center;
    line-height: 10px;
    display: block;
    
  }
  .gift-text {
    word-break: keep-all;
    font-size: 0.5rem;
    text-overflow: clip;
    line-height: 30px;
   
  }

  .giftBtn {
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    border: 0px;
    background: hsla(228, 43%, 31%, 0.7);
    font: 16px PingFang;
    color: #ffffff;
    position: absolute;
    right: 15%;
    bottom: 10%;
    display: none;
  }
  .giftBtn:hover {
    background: hsla(228, 43%, 31%, 1);
  }
  .giftBtn1{
    display: block;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    border: 0px;
    background: hsla(228, 43%, 31%, 0.7);
    font: 16px PingFang;
    color: #ffffff;
    position: absolute;
    right: 15%;
    bottom: 10%;
  }
}

//熱門
.hot-area > .flipInY {
  pointer-events: none;
}
.hot-card-area-mobile {
  display: none;
}
.hot-title,
.hot-text {
  text-align: center;
}
.hot-text {
  word-break: keep-all;
  font-size: 1.4rem;
  line-height: 40px;
  width: 30%;
}
#cardborder {
  border: none;
  margin-right: 50px;
}
.hot-card-area {
  display: flex;
  justify-content: center;
}
#cardbody {
  margin-left: 25%;
}
#price {
  margin-left: 14%;
}
#chadbuy {
  margin-left: 3%;
  border-radius: 4px;
  border: none;
  width: 120px;
  height: 50px;
  padding-top: 3%;
  background: hsla(228, 43%, 31%, 1);
}
#chadbuy:hover {
  background: hsla(228, 43%, 31%, 0.7);
}

//熱門 手機板
@media (max-width: 700px) {
  #cardborder{
    margin-right: 0px;
  }
  .hot-card-area-mobile {
    display: flex;
    justify-content: center;
  }

  .hot-title,
  .hot-text {
    text-align: center;
  }
  .hot-title {
    font-size: 1.5rem;
  }
  .hot-text {
    word-break: keep-all;
    font-size: 12px;
    line-height: 30px;
    width: 60%;
  }
  .hot-card-area {
    display: none;
  }
  #card-body-mobile {
    text-align: center;
    #chadbuy {
      font-size: 16px;
      background: hsla(228, 43%, 31%, 1);
    }
    #chadbuy:hover {
      background: hsla(228, 43%, 31%, 0.7);
    }
  }
}

//熱銷

.top-text {
  word-break: keep-all;
  font-size: 1.4rem;
  text-overflow: clip;
  width: 15%;
  position: absolute;
  top: 10%;
  right: 18%;
  line-height: 40px;
}
.top-text1{
  display: none;
}
.top-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.top-img1{
  display: none;
}
.topBtn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.chad-topBtn:hover {
  background: hsla(228, 43%, 31%, 0.7);
  animation-name: giftBtn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.chad-topBtn {
  margin-top: 2%;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  border: 0px;
  background: hsla(228, 43%, 31%, 1);
  font: 20px PingFang;
  color: #ffffff;
  position: absolute;
  right: 20%;
  top: 22%;
}
.chad-topBtn1{
  display: none;
} 
//熱銷 手機板
@media (max-width: 700px) {
  .top-text {
    word-break: keep-all;
    font-size: 12px;
    text-overflow: clip;
    width: 15%;
    position: absolute;
    top: 10%;
    right: 23%;
    line-height: 25px;
    display: none;
  }
  .top-text1 {
    word-break: keep-all;
    font-size: 12px;
    text-overflow: clip;
    width: 15%;
    position: absolute;
    top: 10%;
    right: 20%;
    line-height: 25px;
    display: block;
  }
  .gift-area {
    width: 100%;
    padding: 0px;
  }
  .top-img {
    width: 414px;
    height: 300px;
    position: relative;
    display: none;
  }
  .top-img1{
    width: 414px;
    height: 300px;
    position: relative;
    display: block;
  }
  .chad-topBtn {
    width: 144px;
    height: 46.4px;
    margin-top: 3%;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    border: 0px;
    background: hsla(228, 43%, 31%, 1);
    font: 16px PingFang;
    color: #ffffff;
    position: absolute;
    right: 4%;
    top: 35%;
    display: none;
  }
  .chad-topBtn1 {
    width: 144px;
    height: 46.4px;
    margin-top: 3%;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    border: 0px;
    background: hsla(228, 43%, 31%, 1);
    font: 16px PingFang;
    color: #ffffff;
    position: absolute;
    right: 4%;
    top: 35%;
    display: block;
  }
  .chad-topBtn:hover {
    background: hsla(228, 43%, 31%, 0.7);
  }
}

//地圖
.map-top-area,
.map-down-area {
  display: flex;
  justify-content: center;
}
.map-top-img-area {
  width: 600px;
}
.map-top-img {
  width: 80%;
}

.down-img {
  width: 60%;
  margin-right: 15%;
}
.top-text-area {
  margin: auto 0;
  width: 20%;
  word-break: keep-all;
  font-size: 1.625rem;
  line-height: 40px;
}
.map-down-text {
  width: 23%;
  word-break: keep-all;
  font-size: 1.625rem;
  line-height: 40px;
}
.down-text-area {
  padding-left: 23%;
  margin-top: 5%;
  width: 50%;
}
.map-down-area > .bounceInRight {
  pointer-events: none;
}

#mapBtn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#mapBtn:hover {
  background: hsla(228, 43%, 31%, 0.7);
  animation-name: giftBtn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#mapBtn {
  margin-top: 4%;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  border: 0px;
  background: hsla(228, 43%, 31%, 1);
  font: 20px PingFang;
  color: #ffffff;
}

//地圖 手機板
@media (max-width: 700px) {
  .map-top-img-area {
    width: 200px;
    height: 150px;
  }
  .map-top-img {
    width: 80%;
  }
  .top-text-area {
    font-size: 0.8rem;
    width: 40%;
    word-break: keep-all;
  }
  .map-down-text {
    word-break: keep-all;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
  }
  .map-top-text {
    text-align: center;
  }
  .down-text-area {
    width: 50%;
    padding-left: 20px;
    margin-top: 0px;
  }

  #mapBtn {
    margin-top: 0;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    border: 0px;
    background: hsla(228, 43%, 31%, 1);
    font: 16px PingFang;
    color: #ffffff;
    width: 144px;
  }

  #mapBtn:hover {
    background: hsla(228, 43%, 31%, 0.7);
  }
  .map-down-img-area {
    width: 220px;
    height: 150px;
    padding-right: 25px;
  }
  .down-img {
    width: 100%;
  }
}
