// $primary:        #595452 ;
// $secondary:     yellow;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

main {
  min-height: 90vh;
}

.footer {
  background-color: #595452;
  height: 200px;
  width: 100%;
  color:#f8f8f8;
  font-size: 16px;
  
 
}
.navBarcolor {
    background-color: #595452;
    padding-left: 17.5%;
    padding-right: 17.5%;
}
.navbarFlex {
    width: 100%;
}

.loginBtn {
    background-color: #f8f8f8;
    border: 0;
    color: #232D2F;
    border-radius: 4px;
    font-size: 12px;
    width: 40px;
}

.navBarFontSize {
    
    font-size: 16px;
    color: #f8f8f8  !important;
}

.loginCartArea {
    margin-top: -10px;
}

.svg-area img{
    height: 3%;
    width: 3%;
    margin-right: 10px;
   

}
.svg-area{
    width: 100%;

}