// $primary:        #595452 ;
// $secondary:     yellow;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

main {
  min-height: 90vh;
}

.footer {
  background-color: #595452;
  height: 12.5rem;
  width: 100%;
  color: #f8f8f8;
  font-size: 1rem;

  font-size: 16px;
}

.footerFix {
  min-height: 73.6vh;
  padding-left: 17.5%;
  padding-right: 17.5%;
}

.navBarcolor {
  background-color: #595452;
  padding-left: 17.5%;
  padding-right: 17.5%;
}
.navbarFlex {
  width: 100%;
}

.loginBtn {
  background-color: #f8f8f8;
  border: 0;
  color: #232d2f;
  border-radius: 4px;
  font-size: 12px;
  width: 40px;
}

.navBarFontSize {
  font-size: 16px;
  color: #f8f8f8 !important;
}

.loginCartArea {
  margin-top: -10px;
}

.svg-area img {
  height: 3%;
  width: 3%;
  margin-right: 0.625rem;
}
.svg-area {
  width: 100%;
}
.cartBtn {
  background-color: #595452;
  border: 0;
}

main > .container {
  padding: 60px 10px 0;
  /* background-color: #fffffd; */
}

.page-link {
  background-color: #44494a;
  color: #ffffff;
  font-family: Adobe clean;
  margin: 0.5px;
  border: none;
}

.page-item.active .page-link {
  background-color: #a69981;
}

.pagination {
  margin: 12px;
}

.card {
  width: 20rem;
  min-height: 15rem;
  margin: 5px;
}

.cardGroup {
  display: inline-flex;
}

.card-body .btn {
  background-color: #2d3b72;
  border: none;
  margin: 6px 6px 0 0;
}

.flex-column a {
  color: #232d2f;
}

.flex-column a.active {
  color: #007bff;
}

.sorts {
  /* border: 1px solid  #2D3B72; */
  border: 1px solid #a69981;
  background-color: #fffffd;
}

#searcyForm {
  width: 70%;
  border: 1px solid #a69981;
}

.cates-item a {
  color: #6c757d;
}

.cates {
  background-color: #fffffd;
  width: 50%;
}

.info {
  margin-left: 10px;
}

.test1 {
  background-color: #6c757d;
  width: 400px;
  height: 300px;
}

.test2 {
  background-color: #6c757d;
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.test3 {
  background-color: #6c757d;
  width: 50px;
  height: 50px;
  margin: 0px 10px 10px 0px;
  color: #fffffd;
  text-align: center;
}

.testImg {
  width: 200px;
  /* height: 200px; */
}

.recommend {
  width: 15rem;
}
