// $primary:        #595452 ;
// $secondary:     yellow;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

main {
  min-height: 90vh;
}

.footer {
  background-color: #595452;
  height: 12.5rem;
  width: 100%;
  color: #f8f8f8;
  font-size: 1rem;

  font-size: 16px;
}

.footerFix {
  min-height: 73.6vh;
  padding-left: 17.5%;
  padding-right: 17.5%;
}

.navBarcolor {
  background-color: #595452;
  padding-left: 17.5%;
  padding-right: 17.5%;
}
.navbarFlex {
  width: 100%;
}

.loginBtn {
  background-color: #f8f8f8;
  border: 0;
  color: #232d2f;
  border-radius: 4px;
  font-size: 12px;
  width: 40px;
}

.navBarFontSize {
  font-size: 16px;
  color: #f8f8f8 !important;
}

.loginCartArea {
  margin-top: -10px;
}

.svg-area img {
  height: 3%;
  width: 3%;
  margin-right: 0.625rem;
}
.svg-area {
  width: 100%;
}
.cartBtn {
  background-color: #595452;
  border: 0;
}

main > .container {
  padding: 60px 10px 0;
  /* background-color: #fffffd; */
}

.logo {
  position: absolute;
  width: 125px;
  height: 125px;
  top: -20px;
  left: 46.15%;
  z-index: 1;
}

.logoset {
  position: relative;
}

.logoFont {
  display: none;
}