.html {
  font-size: 16px;
}

.memberfav {
  width: 130px;
  height: 200px;
  border:2px solid #595452;
  background-color: #a69981;
  margin: 5px;
  text-align: center;
  
}

.memberfav:hover {
  box-shadow:#595452 ;
  
}



.memberfavImg {
  width:120px;
  border: 1px solid #A69981;
  margin: 3px;
}

.memberfavItemName {
  text-align: center;
  font-size: .8rem;
}


.memberfavPrice {
  // margin: 0 auto;
  font-size: .8rem;
}

.memberBookmark {
  width: 32px;
}

@media (max-width: 800px) {

  .memberfav {
    width: 48%;
    height: 50%;
    background-color: #a69981;
    // border:3px solid #A69981;
    margin: 3px;
    text-align: center
  }
  
  .memberfavImg {
    width:80px;
    // border: 1px solid red;
    margin: 5px;
  }
  
  .memberfavItemName {
    text-align: center;
    font-size: 1rem;
  }
  
  
  .memberfavPrice {
    // margin: 0 auto;
    font-size: 1rem;
  }
  
  .memberBookmark {
    width: 36px;
  }

 
  }


