.html {
  font-size: 16px;
}

.favUpdateArea{
  // border: 1px solid red;
  font-size: 1rem;
  padding:0 1.25rem;
}

.memberfav {
  width: 260px;
  height: 300px;
  background-color:#A69981;
  padding: .5rem;
  margin: .5rem;
  text-align: center;
 
  // border: 1px solid red;
  
}

.memberfavImg{
  height: 80%;
  background-color: #ccc;
  // border: 1px solid red; 
  
}




.memberfavItemName{
  // border: 1px solid red;
  text-align: center;
  font-size: 1.2rem;
}



.memberfavPrice{
  // margin: 0 auto;
  font-size: 1.2rem;

}


.memberBookmark{
  width: 30px;
  
}

