html {
  font-size: 16px;
}




.bagimg {
  // background-color: #595452;
  min-height: 73.6vh;
  background-image: url("../img/bg-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // border: 3px solid red;
  background-origin: border-box;
  padding: 1px;
}

.bagimg2 {
  min-height: 73.6vh;
  background-color: rgba(89, 84, 82, 0.66);
  background-origin: border-box;
  padding-top: 10px;
  margin: -1px;
  // margin: -50px;
  // border: 2px solid red;
}

// 1920

.logInArea {
  width: 44.6vw;
  // width:848px;
  // height: 578px;
  height: 60.2vh;
  background-color: rgba(255, 255, 255, 0.75);
  border: radius 4px;
  margin: 8vh auto;
  // border: 2px solid saddlebrown;
}

.loginTittle {
  font-size: 1.63rem;
  font-weight: bold;
  text-align: center;
  // border: 1px solid black;
  padding-top: 45px;
}
.loginArea{
    // border: 2px solid saddlebrown;

  }

.logInArea1 {
  width: 22.0833vw;
  height: 34.722vh;
  // border: 1px solid hotpink;
  border-right: 0.5px solid #232d2f;
  margin-top: 38px;
}

.logInArea2 {
  width: 22.0833vw;
  height: 34.722vh;
  // border: 1px solid steelblue;
  border-left: 0.5px solid #232d2f;
  margin-top: 38px;
}

.logText {
  font-size: 1.5rem;
  // margin-left: 4rem;
  // border: 1px solid #232d2f;
}

.logInInput {
  background-color: #898584;
  border: 1.3px solid #6b7496;
  width: 15.9vw;
  height: 5.74vh;
  border-radius: 4px;
}

.log {
  // border: 1px solid tomato;
  margin-top: 33px;
  // text-align: center
}

.account {
  text-align: center;
  margin-bottom: 33px;
}

.password {
  // margin-left: 90px;
  // border: 1px solid steelblue;
  // margin-top: 33px;
  text-align: center;
}

.otherAccount {
  // border: 1px solid hotpink;
  margin-top: 33px;
  text-align: center;
}

.otherLogButton {
  width: 15.9vw;
  height: 5.74vh;
  border-radius: 4px;
  text-align: left;
  border: 1.3px solid #6b7496;
}

.facebook {
  background-color: #7783a1;
  margin-bottom: 40px;
}

.twitter {
  background-color: #64bed9;
  margin-bottom: 40px;
}

.google {
  background-color: #e8e9e8;
}

.lognIcon {
  width: 1.3354vw;
}

.loginCheckButton {
  background-color: #2d3b72;
  border: none;
  color: #ffffff;
  width: 7.8vw;
  height: 4.259vh;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid steelblue;

}

.loginSingUpButton {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 7.8vw;
  height: 4.259vh;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  // border: px solid steelblue;

}
  
//手機
//以下是576PX以下的CSS
@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }


  .loginWeb{
    display: none;
  }

  

























}
