html {
  font-size: 16px;
}

.bagimg {
  background-color: #595452;
  min-height: 75.1vh;
  background-image: url("../img/bg-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // border: 3px solid red;
  background-origin: border-box;
  padding: 1px;
}

.bagimg2 {
  min-height: 75.1vh;
  background-color: rgba(89, 84, 82, 0.66);
  background-origin: border-box;
  padding-top: 10px;
  margin: -1px;
  // margin: -50px;
  // border: 2px solid red;
}

// 1920

.loginCard {
  width: 40vw;
  // width:848px;
  // height: 578px;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.75);
  border: radius 4px;
  margin: 13vh auto;
  // border: 2px solid saddlebrown;
  // display: none;
}

.loginTittle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  // border: 1px solid black;
  padding-top: 25px;
}

.loginArea1 {
  width: 18vw;
  height: 32vh;
  // border: 1px solid hotpink;
  border-right: 0.5px solid #232d2f;
  margin-top: 38px;
  text-align: center;
}

.loginArea2 {
  width: 18vw;
  height: 32vh;
  // border: 1px solid steelblue;
  border-left: 0.5px solid #232d2f;
  margin-top: 38px;
}

.logText {
  font-size: 1.25rem;
  // margin-left: 4rem;
  // border: 1px solid #232d2f;
  margin-top: 40px;
  text-align: left;
  margin-left: 30px;

}
.logText2 {
  font-size: 1.25rem;
  text-align: left;
  // border: 1px solid #232d2f;
  margin-left: 30px;


}

.loginInput {
  background-color: #898584;
  border: 1.3px solid #6b7496;
  width: 15vw;
  height: 4vh;
  border-radius: 4px;
 
}

.otherAccount {
  // border: 1px solid hotpink;
  margin-top: 33px;
  text-align: center;
}

.otherLogButton {
  width: 15vw;
  height: 5vh;
  border-radius: 4px;
  text-align: left;
  border: 1.3px solid #6b7496;
  font-size: 1.25rem;
}

.facebook {
  background-color: #7783a1;
  margin-bottom: 40px;
}

.twitter {
  background-color: #64bed9;
  margin-bottom: 40px;
}

.google {
  background-color: #e8e9e8;
}

.lognIcon {
  width: 1.3354vw;
}

.loginCheckButton {
  background-color: #2d3b72;
  color: #ffffff;
  width: 7.8vw;
  height: 4.259vh;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  // border: 1px solid steelblue;
}

.loginSingUpButton {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 7.8vw;
  height: 4.259vh;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  // border: 1px solid steelblue;
}

.loginWeb {
  display: flex;
  justify-content: center;
}

.loginMobile {
  display: none;
}

//手機
//以下是576PX以下的CSS
@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }

  .loginMobile {
    display: block;
  }

  .loginWeb {
    display: block;
  
  }
  .loginWebNone{
    display: none;
  }


  .bagimg2 {
    height: 100%;
  }

  .loginCard {
    width: 80vw;
    height: 100%;
    padding: 0 55px;
    margin: 2vh auto;
  }

  .loginTittle {
    padding-top: 30px;
  }

  .loginArea1 {
    // border: 1px solid steelblue;
    border-right: none;
    border-bottom: 1px solid #232d2f;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0;
  }

  .logText {
    margin-bottom: 15px;
    // border: 1px solid steelblue;
    margin-top: 15px;

  }

  .loginInput {
    width: 100%;
  }

  .loginCheckButton {
    width: 15vw;
    height: 4.259vh;
    margin: 15px auto;
  }

  .loginArea2 {
    // border: 1px solid steelblue;
    border-left: none;
    width: 100%;
    height: 100%;
    padding:0;
    margin-top: 15px;
  }


  .otherAccount {
    // border: 1px solid hotpink;
    text-align: center; 
    display:flex;
    flex-direction: column;
    margin: 0;
  }


  .otherLogButton {
    width: 100%;
    height: 5.74vh;
  }

  .lognIcon {
    width: 4vw;
  }

  .facebook {
    margin-bottom: 20px;
  }
  
  .twitter {
    margin-bottom: 20px;
  }
 
  .google {
    background-color: #e8e9e8;
    margin-bottom: 20px;
  }

  .loginSingUpButton {
    color: #000;
    font-weight: normal;
    width: 100%;
    height: 5.74vh;
    font-size: 1rem;
    border-radius: 4px;
    margin-bottom: 20px;
    // border: 1px solid steelblue;
  }

  














}
