.area {
  background-color: lightblue;
  min-height: 73.6vh;
  background-image: url("../img/bg-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid springgreen;
  

 
  
}

.bgc {
    min-height: 73.6vh;
    background-color: rgba(89, 84, 82, 0.66);
    border: 2px solid red;
   
    
  

}


// 1920  

.logninArea{
  width:44.16vw;
  // width:848px;
  // height: 578px;
  height:53vh;
  background-color: rgba(255, 255, 255, 0.75);
  border: radius 4px;
  margin:10vh auto;
  border: 2px solid saddlebrown;;

}