.logninArea {
  background-color: lightblue;
  min-height: 73.6vh;
  background-image: url("../img/bg-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bgc {
    min-height: 73.6vh;
    background-color: rgba(89, 84, 82, 0.66);

}
