.html {
  font-size: 16px;
}

.leftArea {
  // border: 1px solid red;
  margin-top: 80px;
}

.rightArea {
  // border: 1px solid green;
  margin: 80px 0 40px 0;
}

.userName {
  font-size: 2rem;
}

.decLine {
  height: 8px;
  border-top: 3px solid #a69981;
  border-bottom: 1px solid #a69981;
  margin: 30px 0 15px 0;
  // background-color: #faf;
  width: 100%;
}

.option {
  margin-bottom: 40px;
  font-size: 1.25rem;
  cursor: pointer;
}

// .option:hover{
//   color: #f25d50;
// }

.thisPage {
  color: #f25d50;
}

.optionTittle {
  font-size: 2rem;
  margin-left: 50px;
}

.updateArea {
  // border: 1px solid red;
  padding-left: 170px;
  font-size: 1.25rem;
  height: 100%;
}
// 資料修改

.updateInput {
  width: 19.1875rem;
  height: 2rem;
  margin: 5px 0 10px 0;
}

.birthday {
  margin: 5px 5px 10px 0;
}

.birthdayText {
  margin: 5px 5px 10px 0;
}

.memberCheck {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  
}

.memberCancle {
  background-color: #2d3b72;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  margin: 20px 10px 0 140px;
}

.PhoneIcon {
  display: none;
}

@media (max-width: 800px) {
  .html {
    font-size: 12px;
  }

  .userName {
    font-size: 2rem;
    margin-top: 15px;
    //  border: 1px solid rebeccapurple;
  }

  .optionTittle {
    font-size: 1.5rem;
    margin-left: 50px;
  }

  .rightArea {
    // border: 1px solid green;
    margin: 0;
  }

  .leftArea {
    // border: 1px solid red;
    margin-top: 0;
    display: flex;
  justify-content:space-around;
  }

  .option {
    font-size: 1rem;
    margin: 0px;
    display: flex;
  }

  .decLine {
    height: 8px;
    border-top: 3px solid #a69981;
    border-bottom: 1px solid #a69981;
    margin: 5px 0 5px 0;
    // background-color: #faf;
    width: 100%;
  }

  .updateArea {
    // border: 1px solid blue;
    padding-left: 0px;
    font-size: 1.25rem;
    width: 100%;
  }

  .updateInput {
    width: 100%;
    height: 2rem;
    margin: 5px 0 10px 0;
    // border: 1px solid blue;
  }

  .PhoneIcon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 5px 0 0 0;
    // border: 1px solid rebeccapurple;
  }

  .memberCheck {
    background-color: #f25d50;
    border: none;
    color: #ffffff;
    width: 76px;
    height: 39px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    margin: 0px;
    // border: 1px solid rebeccapurple;
  }
  .memberCancle {
    background-color: #2d3b72;
    border: none;
    color: #ffffff;
    width: 76px;
    height: 39px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    margin:0px;
  }

  .webObj {
    display: none;
  }

.btnCenter{
    display: flex;
    justify-content:end;
    
  }
}
