.html{
    font-size: 16px;
}

.leftArea {
//   border: 1px solid red;
  margin-top: 120px;
}

.rightArea {
//   border: 1px solid green;
  margin-top: 120px;
}

.userName{
    font-size: 2rem;

}

.decLine{
    height: 8px;
    border-top: 3px solid #A69981;
    border-bottom: 1px solid #A69981;
    margin: 30px 0 40px 0;
}

.option{
    margin-bottom: 40px;
    font-size: 1.625rem;
}

.optionTittle{
    font-size: 2rem;
    margin-left: 55px;
}
