.html {
  font-size: 16px;
}

.leftArea {
  //   border: 1px solid red;
  margin-top: 120px;
}

.rightArea {
  //   border: 1px solid green;
  margin-top: 120px;
}

.userName {
  font-size: 2rem;
}

.decLine {
  height: 8px;
  border-top: 3px solid #a69981;
  border-bottom: 1px solid #a69981;
  margin: 30px 0 30px 0;
}

.option {
  margin-bottom: 40px;
  font-size: 1.25rem;
}

.optionTittle {
  font-size: 2rem;
  margin-left: 55px;
}



.updateArea {
  // border: 1px solid red;
  padding-left: 170px;
}

.updateInput {
  width: 19.1875rem;
  margin: 5px 0 10px 0;
}

.birthday{
  margin: 5px 5px 10px 0;
}

.birthdayText{
  margin: 5px 5px 10px 0;
}

.memberCheck {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  margin: 0 10px 0 140px;
}

.memberCancle {
  background-color: #2d3b72;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
}
