.passForm {
  width: 24rem;
  // border: 1px solid green;
}

.passInput {
  width: 100%;
  height: 2rem;
  margin: 5px 0 10px 0;
}

.passbtnDir {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  //   border: 1px solid green;
}

.passCheck {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;

  //   border: 1px solid green;
}

.passCancle {
  background-color: #2d3b72;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 30px;
  border-radius: 4px;
  //   border: 1px solid green;
  //   margin: 20px 10px 0 140px;
}

.passForm input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset ;}


@media (max-width: 500px) {
    .passForm {
        width: 100%;
        // border: 1px solid green;
      }
      
      .passInput {
        width: 100%;
        height: 2rem;
        margin: 5px 0 10px 0;
      }
      
      .passbtnDir {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        //   border: 1px solid green;
      }
      
      .passCheck {
        background-color: #f25d50;
        border: none;
        color: #ffffff;
        width: 76px;
        height: 39px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 4px;
      
        //   border: 1px solid green;
      }
      
      .passCancle {
        background-color: #2d3b72;
        border: none;
        color: #ffffff;
        width: 76px;
        height: 39px;
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 30px;
        border-radius: 4px;
        //   border: 1px solid green;
        //   margin: 20px 10px 0 140px;
      }
}
