
.settingForm {
  width: 24rem;
  // border: 1px solid green;
}

.tittle2{
  font-size:1.25rem;
  border-bottom: 5px double #595452;
  width: 6rem;
  margin-bottom: 5px;


}
.settingInput {
  width: 100%;
  height: 2rem;
  margin: 5px 2px 10px 2px;
}

.settingInputBack {
  margin: 5px 2px 10px 2px;
}


.cardDate{
  margin: 5px 5px 10px 2px;
}

.cardDateText{
  margin: 5px 5px 10px 0;
}

.electronic{
  margin-left: 5px;
}

.settingbtnDir {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  //   border: 1px solid green;
}

.settingCheck {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;

  //   border: 1px solid green;
}

.settingCancle {
  background-color: #2d3b72;
  border: none;
  color: #ffffff;
  width: 76px;
  height: 39px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 30px;
  border-radius: 4px;
  //   border: 1px solid green;
  //   margin: 20px 10px 0 140px;
}




@media (max-width: 500px) {

.tittle2{
  font-size:1.2rem;
  margin-left: 0px;
  margin-top: 0px;
}




}