html {
  font-size: 16px;
}
.sbagimg {
  background-color: #595452;
  min-height: 75.1vh;
  background-image: url("../img/bg-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // border: 1px solid red;
  background-origin: border-box;
  padding: 0px;
}

.sbagimg2 {
  min-height: 76vh;
  // height: 100%;
  background-color: rgba(89, 84, 82, 0.66);
  background-origin: border-box;
  padding-top: 10px;
  margin: -1px;
  // margin: -50px;
  border: 1px solid rgba(89, 84, 82, 0.66);
}
.signUpArea {
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.75);
  border: radius 4px;
  margin: 8vh auto;
  // height: 100%;
  padding: 10px;
  // border: 2px solid saddlebrown;
}

.signTittle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  // border: 1px solid black;
  padding-top: 35px;
}



.signUpInput {
  background-color: #898584;
  border: 1.3px solid #6b7496;
  width: 15.9vw;
  height: 3.4vh;
  border-radius: 4px;
}

.signUpText{
  font-size: 1.2rem;
  // margin-left: 17rem;
  margin-top: 8px;
  // border: 1px solid black;
  // padding-left: 180px;
  // text-align: center;

}


.sarea{
  // border: 1px solid black;
  width: 15.9vw;
  margin: 0 auto;
}


.singUpButton {
  background-color: #f25d50;
  border: none;
  color: #ffffff;
  width: 7.8vw;
  height: 4.259vh;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  margin: 1rem auto;
}


@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }


  .sbagimg {
    background-color: #595452;
    min-height: 80vh;
    background-image: url("../img/phoneimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // border: 1px solid red;
    background-origin: border-box;
    padding: 0;
  }
  
.sbagimg2 {
  
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-origin: border-box;
  padding-top: 0;
  margin:-23px 0 0 0;
  // border: 2px solid red;
}
  .signUpArea {
    background-color: rgba(255, 255, 255, 0.678);
    width: 80vw;
    height: 80vh;
    padding: 0 55px;
    margin:0vh auto;
    // border: 1px solid saddlebrown;
  }
  

  .sarea{
    // border: 1px solid black;
    width: 100%;
    margin: 0 auto;
  }

  .signTittle{
    margin-bottom: 20px;
  }

  .signUpText{
    font-size: 1.25rem;
    margin-top: 0;
  }

  .signUpInput {
    width: 100%;
    height: 5vh;
    margin-bottom: 15px;
  }

  .singUpButton {
    color: #fff;
    font-weight: normal;
    width: 15vw;
    height: 5vh;
    font-size: 1.5rem;
    border-radius: 4px;
    // margin-bottom: 120px;
    margin: 2px auto;
    border: 1px solid steelblue;
  }
  
  


















}