//以下是1920的css

html {
    font-size: 16px;
}

.cartItemPhone {
    display: none;
}

.cartArea {
    margin-top: 80px;
    width: 100%;
}


.cartStepCircle {
    height: 2.1875rem;
    width:  2.1875rem;
    border-radius: 50%;
    text-align: center;
    line-height: 220%;
    margin: 0 auto;
    margin-top: 20px;
    
}

.cartStepCircle.thisStep {
    background-color: #F25D50;
    color: #f8f8f8;
}

.cartStepCircle.otherStep {
    background-color: #f0f0f0;
    color: #232D2F;
}

.cartStepFont {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.cartStepLine {
    height: 2px;
    width: 10.625rem;
    background-color: #f0f0f0;
    margin-top:35px ;
}

.cartItem {
    width: 100%;
    height: 130px;
    background-color: #f8f8f8;
    padding: .5rem;
    
}
.itemImg{
    height: 100%;
    width: 10%;
    background-color: #ccc;
    margin-right: 9%;
}

.itemName {
    font-size: 1.25rem;
    margin-right: 9%;
}

.selectHigh {
    height: 25px;
    border-radius: 4px;
    margin: auto 0;
    margin-right: 9%;
    border-color: #2D3B72;
}

.unitPrice {
    margin: auto 0;
    font-size: 16px;
    margin-right: 9%;
}

.subtotal {
    margin: auto 0;
    font-size: 16px;
    margin-right: 4%;
    color: #2D3B72;
}

.deleteIcon {
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #f8f8f8;
}

.priceArea {
    width: 25%;
    margin: 1% 0;
    padding: 0 4% 0 0;

}

.priceArea.font {
    width: 50%;
    text-align: right;
}

.priceArea.font div {
    margin-bottom: 4%;
}

.priceArea.font input {
    width: 80%;
    border-radius: 4px;
    border: 1px solid #2D3B72;
}

.priceColor {
    color: #2D3B72;
}

.sumitBtn {
    width: 25%;
    margin: 2% 0;
}

.sumitBtn button {
    width: 100%;
    height: 100%;
    background-color: #F25D50;
    border: 0;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #fff;
    line-height: 70px;
}

//以上是1920的CSS

//以下是576PX以下的CSS
@media (max-width:576px) {

    html {
        font-size: 12px;
    }

    .cartItemPhone {
        display: block;
        margin-bottom: 10px;
    }

    .cartItem {
        display: none;
    }

    .cartArea {
        margin-top: 30px;
        width: 100%;
    }

    .cartStepCircle {
        height: 2.1875rem;
        width:  2.1875rem;
        border-radius: 50%;
        text-align: center;
        line-height: 220%;
        margin: 0 auto;
        margin-top: 20px;
        
    }

    .cartStepFont {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .cartStepLine {
        height: 2px;
        width: 5rem;
        background-color: #f0f0f0;
        margin-top:35px ;
    }

    .cartItemPhone {
        width: 100%;
        height: 22vh;
        // border: 1px solid #2D3B72;
        padding: .7rem;
        background-color: #f8f8f8;
    }

    .itemImg{
        height: 55%;
        width: 25%;
        margin-right: 3%;
        float: left;
    }

    .itemName {
        font-size: 1rem;
    }

    .KosProjectType {
        font-size: 1rem;
    }

    .unitPrice {
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 1.1rem;
    }

    .counterArea {
        width: 100%;
    }

    .subtotal {
        margin: 0 0 0 auto;
        padding-top: 5px;
        font-size: 1.1rem;
        color: #2D3B72;
    }

    .cartMinus {
        border: 1px solid #2D3B72;
        font-size: 1.5rem;
        width: 11%;
        text-align: center;
    }

    .cartQty {
        border: 1px solid #2D3B72;
        padding-top: 3px;
        font-size: 1.3rem;
        width: 30%;
        text-align: center;
    }

    .cartAdd {
        border: 1px solid #2D3B72;
        font-size: 1.5rem;
        width: 11%;
        text-align: center;
    }

    .CartTarsh {
        margin-left: 3%;
        padding-top: 8px;
        width: 7%;
        height: 7%;
    }

    .priceArea {
        width: 100%;
        margin: 1% 0;
        padding: 0 4% 0 0;
    
    }

    .priceArea.font {
        width: 50%;
        font-size: .9rem;
        text-align: left;
    }

    .priceArea.font.totalPrice {
        width: 50%;
        font-size: .9rem;
        text-align: right;
    }

    .sumitBtn {
        width: 100%;
        margin: 2% 0;
    }
    
    .sumitBtn button {
        width: 100%;
        height: 50%;
        background-color: #F25D50;
        border: 0;
        border-radius: 4px;
        font-size: 1.25rem;
        color: #fff;
        line-height: 40px;
    }
}
