.cartArea {
    margin-top: 50px;
    width: 100%;
}

.cartStepCircle {
    height: 2.1875rem;
    width:  2.1875rem;
    border-radius: 50%;
    text-align: center;
    line-height: 220%;
    margin: 0 auto;
    margin-top: 20px;
    
}

.cartStepCircle.thisStep {
    background-color: #F25D50;
    color: #f8f8f8;
}

.cartStepCircle.otherStep {
    background-color: #f0f0f0;
    color: #232D2F;
}

.cartStepFont {
    font-size: 20px;
    margin-bottom: 50px;
}

.cartStepLine {
    height: 2px;
    width: 10.625rem;
    background-color: #f0f0f0;
    margin-top:35px ;
}

.cartItem {
    width: 100%;
    height: 140px;
    background-color: #f8f8f8;
    padding: .5rem;
}
.itemImg{
    height: 100%;
    width: 12%;
    background-color: #ccc;
    margin-right: 8%;
}

.itemName {
    font-size: 1.25rem;
    margin-right: 8%;
}

.selectHigh {
    height: 25px;
    border-radius: 4px;
    margin: auto 0;
    margin-right: 10%;
}

.unitPrice {
    margin: auto 0;
    font-size: 16px;
    margin-right: 10%;
}

.subtotal {
    margin: auto 0;
    font-size: 16px;
    margin-right: 3%;
}

.deleteIcon {
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #f8f8f8;
}

.priceArea {
    width: 25%;
    margin: 2% 0;
    padding: 0 4% 0 0;

}

.priceArea.font {
    width: 50%;
    text-align: right;
}

.priceArea.font div {
    margin-bottom: 8%;
}

.priceArea.font input {
    width: 80%;
    border-radius: 4px;
    border: 0;
}

.sumitBtn {
    width: 25%;
    margin: 2% 0;
}

.sumitBtn button {
    width: 100%;
    height: 100%;
    background-color: #F25D50;
    border: 0;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #fff;
    line-height: 70px;
}




// 2.1875rem