.cartArea {
    margin-top: 50px;
    width: 100%;
}

.cartStepCircle {
    height: 2.1875rem;
    width:  2.1875rem;
    border-radius: 50%;
    text-align: center;
    line-height: 220%;
    margin: 0 auto;
    margin-top: 20px;
    
}

.cartStepCircle.thisStep {
    background-color: #F25D50;
    color: #f8f8f8;
}

.cartStepCircle.otherStep {
    background-color: #f0f0f0;
    color: #232D2F;
}

.cartStepLine {
    height: 2px;
    width: 10.625rem;
    background-color: #f0f0f0;
    margin-top:35px ;
}

.cartItem {
    width: 100%;
    height: 10rem;
    background-color: #faf;
    padding: 1rem;
}
.cartItem img{
    height: 8rem;
    width: 9rem;
    background-color: #ccc;
}

// 2.1875rem