hr {
    border: 1px solid  #2D3B72;
    width: 100%;
    margin-bottom: 30px;
}

.PayCard {
    width: 100%;
    border: 1px solid #2D3B72 ;
    border-radius: 4px;
    padding: 30px 5% 0 5%;
    padding-top: 30px;
    margin-bottom: 50px;
}

.PayCard h3 {
    margin-bottom: 40px;
}

.PayCard .cartItem {
    width: 100%;
    margin: 0 auto;
}

.PayCard .itemName {
    font-size: 1rem;
}

.productTpye {
    margin: auto 0;
    margin-right: 10%;
}

.amount {
    margin: auto 0;
    margin-right: 10%;
}

.recipient p {
    margin-bottom: 6px;
    font-size: 1.1rem;
}

.inputStyle {
    margin-bottom: 24px;
    width: 100%;
    border-radius: 4px;
    border: 1.3px solid #2D3B72;
    height: 34px;
}

.address {
    width: 85%;
    border-radius: 4px;
    border-radius: 4px;
    border: 1.3px solid #2D3B72;
    margin-bottom: 40px;
    height: 34px;
}

.addressSelect {
    width: 7%;
    margin-right: .5%;
    height: 34px;
    border-radius: 4px;
    border: 1.3px solid #2D3B72;
}

.radio {
    height: 20px;
    width: 20px;
    background: #2D3B72;
}

label {
    font-size: 1rem;
}

.paymentSelect {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: 1.3px solid #2D3B72;
    margin-bottom: 40px;
}